body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* END OF CSS RESET */

body {
  position: relative;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* HEADER STYLING */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  padding: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 25px;
}

.nav-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.nav-container a:hover {
  color: red;
}

/* SWIPER STYLING */

.swiper {
  width: 100%;
  height: 100vh;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 210px 100px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 45px;
  font-weight: 300;
}

.swiper-slide .text {
  padding-top: 70px;
  font-size: 18px;
  max-width: 450px;
  line-height: 1.3;
}

.swiper-button-prev {
  padding-left: 30px;
  color: #fff;
}

.swiper-button-next {
  padding-right: 30px;
  color: #fff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: red;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination-bullet:hover {
  background-color: red;
}

/* GALLERY STYLING */

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  /* background-image: url(./images/landing/landing2.jpg);
  background-size: cover; */
}

.gallery-wrapper h1 {
  padding-top: 10px;
  color: #fff;
}

.cocktails-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding-top: 15px;
}


/* COCKTAIL STYLING */

.cocktail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 350px;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 15px;
  backdrop-filter: saturate(200%) blur(10px);
}

.base-info,
.extended-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.base-info h3 {
  color: #fff;
}

.base-info img {
  width: 95%;
  height: auto;
  border-radius: 15px;
}

.extended-info p {
  padding: 10px;
  font-size: 10px;
  color: #fff;
}

